# CONFIG_ESP_IRIS_OTA is not set
CONFIG_ESP_IRIS_SYSTEM_INVENTORY=y
CONFIG_ESP_IRIS_OTA_DEFAULT_VIA_RECOVERY=y
CONFIG_ESP_IRIS_USB_PRODUCT="ESP-Iris Mosaico Tower Defense"
# CONFIG_GET_STARTED_AUTO_ACCEPT is not set
CONFIG_MOSAICO_GAME_DIAGNOSTIC_IRIS_ONLY=n
